div {
    margin: 0px;
}

.header {
    border: 1px solid black;
    height: 5%;
}

.content-wrapper {
    border: 1px solid black;
    height: 90%;
    display: flex;
}

.footer {
    border: 1px solid black;
    height: 5%;
}

.left-side-wrapper {
    border: 2px solid purple;
    height: 100%;
    width: 20%;
}

.right-side-wrapper {
    border: 2px solid cyan;
    height: 100%;
    width: 80%;
}

.user-overview {
    border: 2px solid black;
    height: 7%;
}

.user-contacts-wrapper {
    border: 2px solid green;
    height: 93%;
}

.user-contacts-search-bar {
    border: 1px solid grey;
    height: 5%;
}

.user-contacts-list {
    border: 1px solid grey;
    height: 95%;
}

.chat-window-wrapper {
    border: 2px solid orange;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-window-header {
    border: 1px solid black;
    height: 7%;
}

.chat-window-body {
    border: 1px solid black;
    height: 88%;
}

.chat-window-input {
    border: 1px solid black;
    height: 5%;
}

.user-settings-wrapper {
    border: 2px solid yellow;
    height: 93%;
}

.user-settings-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 5px 15px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.user-settings-form label {
    font-family: "Roboto", sans-serif;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.user-settings-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80%;
    border: 0;
    margin: 0 15px 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .user-settings-form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }