div {
    margin: 0px;
}
.content-wrapper {
    height: 100%;
    display: flex;
}
.left-side-wrapper {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.right-side-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.user-overview {
    display: flex;
    background-color: #565656;
    align-items: center;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.user-info {
    color: #FFFFFF;
    line-height: 1.4;
    padding:5px 0 0 0;
    flex-grow: 1;
}
.user-info span {
    display: inline-block;
}
.user-info span:first-of-type {
    padding: 25px 0 0 0;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 10px;
}
.user-info span:last-of-type {
    padding: 0 0 25px 0;
    font-size: 1.2em;
    font-style: italic;
    margin: 0 10px;
    color: #bebebe;
}
.user-overview-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50px;
    height: 100%;
}

.user-overview-buttons i:hover {
    cursor: pointer;
    color: #720671;
}
.user-contacts-wrapper {
    background: #313131;;
    flex-grow: 1;
}
.user-contacts-search-bar {
    height: 40px;
}
.user-contacts-search-bar input {
    font-size: 17px;
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    padding: 0 15px;
    border-bottom: 1px solid black;
    background: #bebebe;
}
.user-contacts-list {
    height: 95%;
    list-style-type: none;
    overflow-x: hide;
    overflow-y: auto;
}
.user-contacts-list li {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.user-contacts-list li:hover {
    background: #8f0c8e;
    cursor: pointer;
    color: #FFFFFF;
}
.user-contacts-list li span:first-of-type {
    font-size: 1.3em;
    font-weight: bold;
}
.user-contacts-list li span:last-of-type {
    font-size: 1em;
    font-style: italic;
    color: #bebebe;
    margin-left: 10px;
}
.user-contacts-list li.contact-blocked {
    text-decoration: line-through;
}
.chat-window-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.chat-window-header {
    background-color: #313131;
    text-align: center;
}
.chat-window-header span {
    display: inline-block;
    padding: 20px 0;
}
.chat-window-header span i:hover {
    cursor: pointer;
}
.chat-window-header i {
    color: red;
}
.chat-window-header .chat-window-contact-full-name {
    font-size: 1.3em;
    font-weight: bold;
    color: #FFFFFF;
}
.chat-window-header .chat-window-contact-handle {
    font-size: 1em;
    font-style: italic;
    color: #bebebe;
    margin-left: 10px;
    margin-right: 10px;
}
.chat-window-body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    background: #ddb6dd;
    
}
.chat-window-body div {
    display: block;
    padding: 0;
    margin: 0;
}
.chat-window-body div .fa-comments {
    color: #8f0c8e;
}
.chat-window-body div div {
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.chat-window-body div div span i:hover {
    cursor: pointer;
    color: #720671;
}
.chat-window-body div .sent-message {
    float: right;
}
.chat-window-body div .received-message {
    float: left;
    align-items: flex-end;
}
.chat-window-body div span {
    padding: 8px;
}
.chat-window-body div .message-bubble {
    width: 100%;
}
.sent-message .message-bubble {
    background: #8f0c8e;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.received-message .message-bubble {
    background: #565656;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.chat-window-body div .message-date-time {
    color: #313131;
    font-size: 0.8em;
}
.chat-window-initial-message {
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.chat-window-input {
    height: 50px;
    background: #565656;
}
.chat-window-input form div {
    height: 40px;
    display: flex;
    padding: 5px 0;
}
.chat-window-input form div input {
    font-size: 17px;
    height: 100%;
    outline: 0;
    border: 0;
    margin: 0 0.5%;
    padding: 0 15px;
    border-radius: 25px;
    border-bottom: 1px solid black;
    background: #bebebe;
    flex-grow: 1;
}
.chat-window-input form div button {
    font-size: 17px;
    width: 80px;
    height: 100%;
    border-radius: 25px;
    outline: 0;
    border: 0;
}
.chat-window-input form div button:hover {
    cursor: pointer;
}
.user-settings-wrapper {
    background: #313131;
    flex-grow: 1;
}
.user-settings-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #cccccc;
    width: 80%;
    border: 0;
    margin: 5px 15px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.user-settings-handle-availability-message {
    font-family: "Roboto", sans-serif;
    color: #ff3535;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.user-settings-form label {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.user-settings-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #8f0c8e;
    width: 80%;
    border: 0;
    margin: 0 15px 15px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
.user-settings-form button:hover,.form button:active,.form button:focus {
    background: #720671;
}