<div class="left-side-wrapper">
    <div class="user-overview">
        <?php echo $WelcomeMessage; ?>
    </div>
    <div class="user-contacts-wrapper">
        <div class="user-contacts-search-bar">
            Search bar appears here
        </div>
        <div class="user-contacts-list">
            <li><a href="#">Contact#1</a></li>
            <li><a href="#">Contact#2</a></li>
            <li><a href="#">Contact#3</a></li>
        </div>
    </div>
</div>
<div class="right-side-wrapper">
    <div class="chat-window-wrapper">
        <div class="chat-window-header">
            <p>This is where the recepient's info is shown</p>
        </div>
        <div class="chat-window-body">
            <p>This is where the chatting is supposed to happen</p>
        </div>
        <div class="chat-window-input">
            <p>This is where users types their messages</p>
        </div>
    </div>
</div>
</ul>

</div>