<div class="left-side-wrapper">
    <div class="user-overview">
        <?php echo $WelcomeMessage; ?>
        <button>Settings</button>
    </div>
    <div class="user-contacts-wrapper">
        <div class="user-contacts-search-bar">
            Search bar appears here
        </div>
        <div class="user-contacts-list">
            <li><a href="#">Contact#1</a></li>
            <li><a href="#">Contact#2</a></li>
            <li><a href="#">Contact#3</a></li>
        </div>
    </div>
    <div class="user-settings-wrapper">
        <form class="user-settings-form">
            <br/><label>full name</label><br/>
            <input type="text" id="full-name" onblur="ValidateNameInput(this)" placeholder="full name" value="<?php echo 'full name' ?>"/>
            <br/><label>handle</label><br/>
            <input type="text" id="handle" onkeyup="CheckHandleAvailability(this)" placeholder="@handle" value="<?php echo 'handle' ?>"/>
            <br/><label>phone number</label><br/>
            <input type="text" id="phone-number" value="<?php echo '99999999999' ?>" disabled/>
            <br/><label>current password</label><br/>
            <input type="password" id="current-password" placeholder="current password"/>
            <br/><label>new password</label><br/>
            <input type="password" id="new-password" onblur="CheckPassword(this)" placeholder="new password"/>
            <br/>
            <button>save</button>
        </form>
    </div>
</div>
<div class="right-side-wrapper">
    <div class="chat-window-wrapper">
        <div class="chat-window-header">
            <p>This is where the recepient's info is shown</p>
        </div>
        <div class="chat-window-body">
            <p>This is where the chatting is supposed to happen</p>
        </div>
        <div class="chat-window-input">
            <p>This is where users types their messages</p>
        </div>
    </div>
</div>
</ul>

</div>

<script src="js/contacts.js"></script>