<div class="left-side-wrapper">
    <div class="user-overview">
        <div class="user-info">
            <span id="user-info-handle"></span>
            <br/>
            <span id="user-info-full-name"></span>
        </div>
        <div class="user-overview-buttons" style="float: right">
            <i title="sign out" class="fas fa-sign-out-alt fa-2x" id="user-overview-logout-button" style="float: right"></i>
            <i title="edit info" class="fas fa-edit fa-2x" id="user-overview-settings-button" style="float: right"></i>
        </div>
    </div>
    <div class="user-contacts-wrapper" id="chat-window">
        <div class="user-contacts-search-bar">
            <input type="text" placeholder="Search..">
        </div>
        <div class="user-contacts-list"></div>
    </div>
    <div class="user-settings-wrapper">
        <form class="user-settings-form">
            <br/><label>full name</label><br/>
            <input type="text" id="user-settings-full-name" onblur="ValidateNameInput(this)" placeholder="full name" value="<?php echo $fullName; ?>"/>
            <br/><label>handle</label><br/>
            <input type="text" id="user-settings-handle" onkeyup="CheckHandleAvailability(this)" placeholder="@handle" value="<?php echo $handle; ?>"/>
            <p class="error-message" id="user-settings-handle-availability-message" style="display: none;"></p>
            <br/><label>phone number</label><br/>
            <input type="text" id="phone-number" value="<?php echo $phoneNumber; ?>" disabled/>
            <br/><label>current password</label><br/>
            <input type="password" id="current-password" placeholder="current password"/>
            <br/><label>new password</label><br/>
            <input type="password" id="new-password" onblur="CheckPassword(this)" placeholder="new password"/>
            <br/>
            <button id="user-setting-save-changes-button" type="button">save</button>
        </form>
    </div>
</div>
<div class="right-side-wrapper">
    <div class="chat-window-wrapper" id="chat-window-empty">
        <div class="chat-window-header"></div>
        <div class="chat-window-body">
            <div class="chat-window-initial-message">
                <i class="far fa-comments fa-4x"></i>
                <p>Choose one of your contacts and start chatting!</p>
            </div>
            <div class="chat-window-no-history" style="display: none;">
                <i class="far fa-comments fa-4x"></i>
                <p>You do not have a chat history with this contact yet.</p>
            </div>
        </div>
        <div class="chat-window-input">
            <form>
                <div>
                    <input type="text" placeholder="type a message">
                    <button type="button" id="chat-send-button">send</button>
                </div>
            </form>
        </div>
    </div>
</div>
</ul>

</div>