<html>
<head>
	<title>WhosApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css" />
	<?php
		if (basename($_SERVER['PHP_SELF']) == 'index.php' ||
		basename($_SERVER['PHP_SELF']) == 'login.php')
			echo '<link rel="stylesheet" href="css/login.css" />';
		else
			echo '<link rel="stylesheet" href="css/main.css" />';
	?>
	<script src="https://kit.fontawesome.com/9ac85f9e73.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6-beta.20/jquery.inputmask.js"></script>
	<script src="js/login.js"></script>
	<script src="js/main.js"></script>
</head>
<body>

<div class="content-wrapper" id="content-wrapper-div">