<div class="login-content-wrapper">
    <div class="form">
        <form class="register-form">
            <p class="form-message" id="create-account-box-message" style="display: none;"></p>
            <input type="text" id="full-name" onblur="ValidateNameInput(this)" placeholder="full name"/>
            <input type="text" id="handle" onkeyup="CheckHandleAvailability(this)" placeholder="@handle"/>
            <p class="error-message" id="handle-availability-message" style="display: none;"></p>
            <input type="text" id="phone-number" placeholder="phone number"/>
            <input type="password" id="password" onblur="CheckPassword(this)" placeholder="password"/>
            <p class="error-message" id="password-error-message" style="display: none;"></p>
            <button type="button" onclick="CreateAccount()">create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form">
            <p class="form-message" id="login-box-message"  style="display: none;"></p>
            <input type="text" id="login-handle" placeholder="@handle"/>
            <input type="password" id="login-password" placeholder="password"/>
            <button type="button">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>